[Desktop Entry]
Name=Blackbaud
Comment="Website Shortcut"
Exec=zen-browser https://providencecatholic.myschoolapp.com/
Icon=zen-browser
Terminal=false
Type=Application
