[Desktop Entry]
Name=PCHS Calender
Comment="Website Shortcut"
Exec=zen-browser https://www.providencecatholic.org/my-calendar/
Icon=zen-browser
Terminal=false
Type=Application
