[Desktop Entry]
Name=IXL
Comment="Website Shortcut"
Exec=zen-browser https://www.ixl.com/signin/providencechs 
Icon=zen-browser
Terminal=false
Type=Application
