* {
    border: none;
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
    min-height: 20px;
}

window#waybar {
    background: transparent;
    margin: 5px;
    background: rgba(25, 28, 42, 0.9);
}

#custom-logo {
    padding: 0 10px;
}

.modules-right {
    padding-left: 5px;
    /* border-radius: 0 0 0 15px; */
    margin-top: 0px;
    /* background: rgba(25, 28, 42, 0.8); */
}

.modules-center {
    padding: 0 15px;
    margin-top: 0px;
    /* border-radius: 0 0 15px 15px; */
    /* background: rgba(25, 28, 42, 0.8); */
}

.modules-left {
    /* border-radius: 0 0 15px 0; */
    margin-top: 0px;
    /* background: rgba(25, 28, 42, 0.8); */
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#wireplumber,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
    padding: 0 8px;
    color: #c6d0f5;
}

#temperature.critical,
#wireplumber.muted {
    color: #FF0000;
    padding-top: 0;
}

#workspaces button {
    border-radius: 0;
}

#workspaces button.active {
    /* background-color: #26A65B; */
    color: #fab387;
}

/*#clock{*/
/*  color: #5fd1fa;*/
/*}*/

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
